.previousMoves {
  display: flex;
  flex-direction: column;
}
.sortButton {
  margin-left: auto;
}
.sortButton, .moveButton{
  border: 1.5px solid var(--board-border-color);
  border-radius: 10px;
  padding: 0.3rem 0.3rem;
  background-color: transparent;
  color: var(--board-border-color);
  font-weight: bold;
}
.sortButton:hover, .moveButton:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}
.previousMoves ol {
  max-height: 26rem;
  padding: 0;
  overflow: auto;
}
.previousMoves p{
  margin: 0.2rem;
  font-family: "Lato", "Ubuntu";
  color: var(--font-color);
}
.moveButton {
  margin-top: 0.2rem;
}
.currentMove {
  color: var(--prev-move-select-color);
  border-color: var(--prev-move-select-color);
  font-weight: bolder;
}
li {
  list-style:none;
}