.gameInfo h1 {
  text-align: center;
}
.currentMove {
  text-decoration-color: blue;
}
button {
  display: flex;
}
li {
  list-style:square;
}

.gameInfo {
  padding: 0 1rem;
}

.sortButton {
  margin-left: auto;
}

.history {
  display: flex;
}