.gameStatus h2{
  text-align: center;
}
.playAgainButton {
  display: flex;
  border: 2px solid var(--board-border-color);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: var(--board-border-color);
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem auto;
}
.playAgainButton:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}