.square {
  display: flex;
  border: 5px solid #0f54a8;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-family: 'Fredoka One', system-ui, Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.highlight {
  background-color: rgb(255, 251, 0);
}

.playerX {
  color: var(--player-x-color)
}

.playerO {
  color: var(--player-y-color)
}
