.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', system-ui, Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 7rem;
  border: 5px solid var(--board-border-color);
  border-radius: 20px;
  background-color: var(--background-color);
}

.square p{
  margin: 0;
  padding: 0;
}

.highlight {
  background-color: var(--winning-square-color);
}

.emptySquare:hover {
  background-color: var(--button-hover-color);
}

.playerX {
  color: var(--player-x-color);
}

.playerO {
  color: var(--player-y-color);
}
