@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --player-x-color: #1100FF;
    --player-y-color: #FF006E;
    --board-border-color: #220090;
    --button-color: #220090;
    --prev-move-select-color: #DF003B;
    --winning-square-color: #EEFF00;
    --button-hover-color: #EBE5FF;
    --background-color: #FFF;
    --font-color:  #15005C;
    --square-font-size: 7rem;
    --square-border-radius: 20px;
    --board-width: 30rem;
    --board-height: 30rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

h1, h2{
  font-family: "Rubik", "Ubuntu", "Roboto", sans-serif;
  color: var(--font-color);
}
h1 {
  font-size: 2.5rem;
  margin: .8rem;
}
h2 {
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (prefers-color-scheme: light){
  :root{
    --player-x-color: #1100FF;
    --player-y-color: #FF006E;
    --board-border-color: #220090;
    --button-color: #220090;
    --prev-move-select-color: #DF003B;
    --winning-square-color: #EEFF00;
    --button-hover-color: #EBE5FF;
    --background-color: #FFF;
    --font-color:  #15005C;
  }
}
@media (prefers-color-scheme: dark){
  :root{
    --player-x-color: #50b7f2;
    --player-y-color: #F9B4C9;
    --board-border-color: #25EEB1;
    --button-color: #25EEB1;
    --prev-move-select-color: #ff848e;
    --winning-square-color: #efe93c;
    --button-hover-color: #043728;
    --background-color: #1e1e1e;
    --font-color:  #B4F9E5;
  }
}
/* Mobile changes */
@media only screen and (max-width: 768px) {
  :root {
    --board-width: 20rem;
    --board-height: 20rem;
    --square-font-size: 4rem;
  }
}