@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2{
  font-family: "Rubik", "Ubuntu", "Roboto", sans-serif;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --player-x-color: #1a65f0;
  --player-y-color: #ed2a2a;
  --board-border-color: rgb(0, 48, 96);
  --button-color: rgb(12,  69, 133);
  --prev-move-select-color: rgb(162, 7, 162);
  --winning-square-color: rgb(238, 255, 0);
  --button-hover-color:rgb(243, 249, 255); 
  --background-color: #FFF;
}

